body{
	background-image: url('../img/aboutBackground.jpg');
	background-size: cover;
	background-attachment: fixed;
}
main{
	padding: 2em;
	padding-top: 8px;
	background: rgba(250, 250, 250, 0.9);
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
header, #title {
		font-family: 'Roboto Slab', serif;
}
main > ul {
	list-style-type: none;
}
.item {
	text-align: center;
}
main > img {
	max-height: 200px;
	max-width: 200px;
}
.item:hover .thumbnail{
	border: 2px solid gray;
	clear: all;
}

.item:hover {
	cursor: pointer;
}
.thumbnail {
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin-top: 20px;
	margin-bottom: 0;
	border-radius: 16px;
	display: flex;
	align-items: center;
}
#beer {
	display: none;
}
#grid {
	display: none;
}

#mtitle{
	display: none;
}
@media (max-width: 767px) {
	main{
		width: 100%;
		margin: 0;
		padding-top: 0;
		padding: 10px;
		font-size: 8pt;
	}
	#mtitle {
		display: block;
	}
	#title {
		display: none;
	}
}

