/* style specifically for the menu pages */

#info img {
	width: 100%;
}

@media (max-width: 767px) {

	#info {
		width: 100%;
		margin: 0;
		padding-top: 0;
		padding: 10px;
		font-size: 8pt;
	}

	#title {
		display: none;
	}
}