/* style specifically for the menu pages */

/*iframe {
	width: 20em;
}

.media {
	width: 20px;
}*/

#info img {
	width: 100%;
}

#the-canvas {
	padding: 5% 10%;
	font-style: italic;
	font-size: 150%;
	text-align: center;
}

@media (max-width: 767px) {
	#the-canvas {
		display: none;
	}
}