h1 {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 30px;
}

img {
	display: block;
	margin: auto;
	height: 50vw;
	max-height: 400px;
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	margin-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.panel-group .panel {
	margin-bottom: 10px;
}

#accordion {
	padding-left: 30px;
	padding-right: 30px;
}
